<div class="container-fluid">
  <!-- START JUMBOTRON -->
  <div class="jumbotron" id="main-jumbotron">
    <div class = "row">
      <div class = "col-md-7">
        <h1><%= t ".today" %></h1>
        <div class="search-form">
        <%= form_for :reci, url: search_path, html: {class: "navbar-form"}, method: :get do |form| %>
          <%= text_field_tag :reci, params[:reci], class: "form-control" %>
          <%= submit_tag("Search", name: nil, class: "btn btn-primary") do %>
            <i class="fa fa-search"></i>
          <% end %>
        <% end %>
        </div>
        <p><%= t ".description" %></p>
      </div>
      <div class = "col-md-5">
        <%= render "carousel" %>
      </div>
    </div>

  </div>
  <!-- END JUMBOTRON -->
  <!-- START CATEGORIES -->
  <div class="row">
    <%= render "category" %>
  </div>
  <!-- END CATEGORIES -->
  <hr>
  <div class="row">
    <!-- START RECIPES -->
    <div class="col-md-9">
      <h1><%= t ".trending" %></h1>
      <div class="row">
          <%= render @recipes, divide: "4" %>
      </div>
    </div>
    <!-- END RECIPES -->
    <!-- START TOP MEMBER -->
    <div class="col-md-3">
      <h1><%= t ".top_member" %></h1>
      <%= render "topuser" %>
    </div>
    <!-- END TOP MEMBER -->
  </div>
</div>
