<div class="container">
  <div class="row">
    <h2><b><%= Recipe.search(params[:reci]).count %></b> <%= t ".recipe_search" %>
      với từ khóa "<%= params[:reci] %>"</h2>
    <%= render @recipes, divide: Settings.col_3 %>
  </div>
  <% if @recipes.any? %>
    <%= paginate @recipes, theme: "twitter-bootstrap-3" %>
  <% end %>
</div>
